/* BASIC STYLES HERE */
* {
  color: aliceblue;
  text-shadow: 1px 1px black, 0px 0px 5px rgba(44, 73, 201, 0.719);
  font-weight: bold;
  letter-spacing: 0.08rem;
  user-select: none;
}



body {

  background-size: cover;
  background-attachment: fixed;
}

.glass {
  background-color: rgba(32, 30, 30, 0.596);

}

p {
  margin: 0;
}


/* .time {
  margin-top: 5rem;
} */

.text-shadow {
  color: aliceblue;
  text-shadow: 1px 1px black, 0px 0px 5px rgba(250, 128, 114, 0.719);
  font-weight: bold;
  letter-spacing: 0.08rem;
}

.todo-list {
  margin-top: 3rem;
  margin-right: 8rem;


}